WcfKitchenService/WcfKitchenService/Connected Services/OrderService/OrderPlacementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderPlacementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOrderPlacementService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderPlacementService_PlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_PlaceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_PublishToOrderService_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishToOrderService" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_PublishToOrderService_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishToOrderServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_OrderSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderSubscribe" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_OrderSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_OrderUnsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderUnsubscribe" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_OrderUnsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderUnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_OrderCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderCallback" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_OrderCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OrderCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_PublishToOrderServiceCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PublishToOrderServiceCallback" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_PublishToOrderServiceCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PublishToOrderServiceCallbackResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_SubscribeToCustomerCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToCustomerCallback" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_SubscribeToCustomerCallback_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToCustomerCallbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderPlacementService">
    <wsdl:operation name="PlaceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/PlaceOrder" message="tns:IOrderPlacementService_PlaceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/PlaceOrderResponse" message="tns:IOrderPlacementService_PlaceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishToOrderService">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/PublishToOrderService" message="tns:IOrderPlacementService_PublishToOrderService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/PublishToOrderServiceResponse" message="tns:IOrderPlacementService_PublishToOrderService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/OrderSubscribe" message="tns:IOrderPlacementService_OrderSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/OrderSubscribeResponse" message="tns:IOrderPlacementService_OrderSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderUnsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/OrderUnsubscribe" message="tns:IOrderPlacementService_OrderUnsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/OrderUnsubscribeResponse" message="tns:IOrderPlacementService_OrderUnsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/OrderCallback" message="tns:IOrderPlacementService_OrderCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/OrderCallbackResponse" message="tns:IOrderPlacementService_OrderCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublishToOrderServiceCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/PublishToOrderServiceCallback" message="tns:IOrderPlacementService_PublishToOrderServiceCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/PublishToOrderServiceCallbackResponse" message="tns:IOrderPlacementService_PublishToOrderServiceCallback_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeToCustomerCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/SubscribeToCustomerCallback" message="tns:IOrderPlacementService_SubscribeToCustomerCallback_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/SubscribeToCustomerCallbackResponse" message="tns:IOrderPlacementService_SubscribeToCustomerCallback_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IOrderPlacementService" type="tns:IOrderPlacementService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOrderPlacementService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishToOrderService">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/PublishToOrderService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderSubscribe">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/OrderSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderUnsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/OrderUnsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderCallback">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/OrderCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublishToOrderServiceCallback">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/PublishToOrderServiceCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToCustomerCallback">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/SubscribeToCustomerCallback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderPlacementService">
    <wsdl:port name="NetTcpBinding_IOrderPlacementService" binding="tns:NetTcpBinding_IOrderPlacementService">
      <soap12:address location="net.tcp://localhost:8090/SimpleService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/SimpleService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-CDS2Q7J\dLL</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>